.nav-bar-menu .ant-menu {
  background: #344955;
  color: #232f34;
}

.nav-bar-menu .ant-menu-horizontal .ant-menu-item-selected {
  background: #1d2830;
}

/* .nav-bar-menu .ant-menu-horizontal .ant-menu-item-selected > span > a {
  color: #f9aa33;
} */

.nav-bar-menu .ant-menu-horizontal .ant-menu-item:hover {
  background: #1d2830;
}

/* .nav-bar-menu .ant-menu-horizontal .ant-menu-item:hover > span > a {
  color: #f9aa33;
} */
